/*
=============== 
Variables
===============
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

[disabled] {
    opacity: .6;
    cursor: default;
  }
  .not-allowed {
    cursor: not-allowed;
  }